# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Local Data and Logs
logs/
outputs/

# Large Model Files
voices/
*.onnx
*.onnx.json

# Editor Backups
*.save
main_yedek.py
.env
orbit_chatbot/
/home/omrum/Desktop/orbit_chatbot/orbit_chatbot